.full-body-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
}

#google-c {
  color: #4285f4;
}

#google-s {
  color: #db4437;
}

#google-4 {
  color: #f4b400;
}

#google-3 {
  color: #4285f4;
}

#google-0-1 {
  color: #0f9d58;
}

#google-0-2 {
  color: #db4437;
}

.google-colors {
  display: flex;
  align-items: center;
  font-size: 48px;
  font-family: "Open Sans", sans-serif;
}

.google-colors h1 {
  margin-bottom: 0;
  margin-right: 3px;
}

.input-box {
  border-radius: 50px;
  border: 1px solid black;
  display: flex;
  align-items: center;
  margin-top: 10px;
  padding: 12px;
  width: 600px;
  background-color: #aa82a4;
}

.input-box img {
  height: 20px;
  width: 20px;
}

.top-text {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input-box input {
  width: 100%;
  margin-left: 10px;
  font-size: 16px;
  border: none;
  outline: 0;
  background-color: transparent;
}

input::placeholder {
  color: white;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 85vw;
  margin-top: 50px;
}

.episode-title {
  font-family: "Kanit", sans-serif;
}

.episode-desc {
  font-family: "Montserrat", sans-serif;
}

.row {
  display: flex;
  flex-direction: row;
}

.col1 {
  width: 30%;
}

.col2 {
  margin-top: 100px;
  margin-left: 40px;
  width: 70%;
}

.col1 img {
  margin-left: 50px;
  width: 90%;
  height: auto;
}

body {
  background-image: url("images/Background.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.card {
  padding: 10px;
  margin: 20px;
  border-radius: 20px;
  background-color: #f5ecdd;
  border: 1px solid black;
  height: 500px;
}

h3 {
  font-size: 20px;
}

h3,
p {
  margin: 0;
}

.two-col {
  display: flex;
  flex-direction: row;
}

.two-col p {
  width: 50%;
}

.link {
  color: #378baf;
  text-decoration: underline;
}

.link:hover {
  cursor: pointer;
}

.price {
  text-align: right;
  font-size: 20px;
}

.image-side {
  width: 40%;
}

.text-side {
  width: 60%;
}

.text-side p {
  width: 100%;
}

.stars {
  font-size: 25px;
  color: #883eff;
  -webkit-text-stroke: 1px black;
}

.rate-num {
  text-align: right;
  margin-top: 5px;
  padding-right: 15px;
}

.review {
  margin-top: 5px;
  font-size: 17px;
  font-weight: bold;
}

.reviews {
  color: #aa82a4;
  font-weight: bold;
  font-size: 12px;
}

.hover-container {
  position: relative;
  display: block;
  cursor: pointer;
}

.hover {
  visibility: hidden;
  width: 200px;
  background-color: #333;
  color: #fff;
  text-align: left;
  padding: 10px;
  border-radius: 5px;

  position: absolute;
  z-index: 1;
  top: 100%;
  left: 0;
}

.hover-container:hover .hover {
  visibility: visible;
}

.scroll-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  padding: 10px 20px;
  background-color: #aa82a4;
  color: white;
  border-radius: 50px;
  text-decoration: none;
  font-weight: bold;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease;
  z-index: 1000;
}

.scroll-button:hover {
  cursor: arrow;
  background-color: #8c6886;
}

.scroll-button:active {
  background-color: #8c6886;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  transform: translateY(2px);
}

html {
  scroll-behavior: smooth;
}

.similarity,
.num {
  margin-top: 100px;
  color: #378baf;
  font-weight: bold;
}

.no-match {
  text-align: center;
}

.toggle {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 28px;
}

.toggle input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  background-color: #378baf;
  border-radius: 34px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  border-radius: 50%;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #4285f4;
}

input:checked + .slider:before {
  transform: translateX(22px);
}

.set,
.unit {
  font-size: 15px;
}

.bold {
  font-weight: bold;
}

.latent-topics-container {
  position: relative;
  display: block;
  cursor: pointer;
  margin-top: 10px;
}

.latent-topics-heading {
  font-weight: bold;
  margin-bottom: 0px;
  width: 100px;
}

.latent-topics-container .link {
  font-size: 0.9em;
  margin-bottom: 5px;
}

.latent-topics-hover {
  visibility: hidden;
  width: auto;
  /* Adjust width as needed */
  background-color: #f0f0f0;
  /* Light background */
  color: #333;
  text-align: left;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  position: absolute;
  z-index: 1;
  top: 100%;
  left: 0;
  white-space: normal;
}

.latent-topics-container:hover .latent-topics-hover {
  visibility: visible;
}

.latent-topics-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: block;
}

.latent-topic-item {
  padding: 5px 0;
  font-size: 0.9em;
}
