<!DOCTYPE html>
<title>{% block title %}{% endblock %} ArtAlcove</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link
  href="https://fonts.googleapis.com/css2?family=Kanit&family=Montserrat&family=Open+Sans:wght@500&display=swap"
  rel="stylesheet"
/>
<body>
  <div class="full-body-container">
    <div id="top-text" class="top-text">
      <div class="row">
        <div class="col1">
          <img
            src="{{ url_for('static', filename='images/ArtAlcove logo 1.png') }}"
          />
        </div>
        <div class="col2">
          <h1>Working on an art project?</h1>
          <h2>
            Tell us what you want to create and we'll recommend materials for
            you!
          </h2>
        </div>
      </div>
      <div class="input-box" onclick="sendFocus()">
        <img src="{{ url_for('static', filename='images/mag.png') }}" />
        <input
          placeholder="Enter your query here..."
          id="filter-text-val"
          onkeyup="filterText()"
        />
      </div>
    </div>
    <div id="answer-box"></div>
    <a href="#top-text" class="scroll-button">^</a>
  </div>

  <script>
    function answerBoxTemplate(
      product,
      siteurl,
      price,
      rating,
      imgurl,
      descr,
      review_title,
      review_desc
    ) {
      return `<div class='card'>
                <h3>${product}</h3>
                <div class='two-col'>
                    <p class='link'><a href="${siteurl}">Shop here</p></a>
                    <p class='price'>$${price.toFixed(2)}</p>
                </div>
                <div class='two-col'>
                    <div class='image-side'>
                        <img height=180px width=180px src="${imgurl}">
                        <div class='two-col'>
                            <p class='stars'>☆☆☆☆☆</p>
                            <p class='rate-num'>${rating}</p>
                        </div>
                    </div>
                    <div class='text-side'>
                        <p>${descr}</p>
                        <p class='review'>Reviews:</p>
                        <div>${getReviews(review_title, review_desc)}</div>
                    </div>
                </div>
            </div>`;
    }

    function getReviews(review_title, review_desc) {
      let reviewsHTML = "";
      for (let i = 0; i < review_title.length; i++) {
        reviewsHTML += `<div class="hover-container reviews">
            ${i + 1}. ${review_title[i]} 
            <p style="display: inline" class='link'>(See more...)</p>
            <div class="hover">${review_desc[i]}</div>
            </div>`;
      }
      return reviewsHTML;
    }

    function sendFocus() {
      document.getElementById("filter-text-val").focus();
    }

    function filterText() {
      document.getElementById("answer-box").innerHTML = "";
      console.log(document.getElementById("filter-text-val").value);
      fetch(
        "/stretched_canvas?" +
          new URLSearchParams({
            title: document.getElementById("filter-text-val").value,
          }).toString()
      )
        .then((response) => response.json())
        .then((data) =>
          data.forEach((row) => {
            let tempDiv = document.createElement("div");
            tempDiv.innerHTML = answerBoxTemplate(
              row.product,
              row.siteurl,
              row.price,
              row.rating,
              row.imgurl,
              row.descr,
              row.review_title,
              row.review_desc
            );
            document.getElementById("answer-box").appendChild(tempDiv);
          })
        );
    }
  </script>
</body>
